.footer__container {
    margin-top: 162px;
    background: url(../img/pattern-hills.svg);
    height: 168px;
    width: 100%;
    background-position: right 13% bottom;
    background-size: 245% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    padding-top: 43px;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: all ease 0.5s;
}

.footer__icon:hover > path {
    fill: #FB5E84
}


@media screen and (min-width: 1024px) {
    .footer__container {
        margin-top: 152px;
        background-position: right 150% bottom;
        height: 265px;
    }
}
